<div class="row ">
  <div class="textMain">>w<</div>
  <div class=" col col-sm-3 col-6"
       *ngFor="
       let users of user;
       let i = index"> {{flipInit(i)}}

      <div class = "flipped card-style content-style"
           (click)="flip(i)"
           [@flipState]="flipped[i]">

        <div class = "images card-body-style content-style"
             id=card-front>
          <img class="images" src="{{img[i].url}}" alt=""/>
        </div>

        <div class = "card-body-style content-style "
             id=card-back>
          <b>{{users.firstName}} {{users.lastName}}</b>
          <p><b>BD </b>{{users.date}}</p>
          <p><b>ST </b>{{users.liveState}}</p>
          <p><b>PH </b>{{users.phoneNumber}}</p>
          <b>{{users.card_type}}</b>
          <p>{{users.card_number}}</p>
        </div>
    </div>

  </div>
</div>
